<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>

            <main>
                <section class="hero">

                    <div class="hero-text">

                        <h2>Transformá los pequeños<br>
                            momentos cotidianos en<br>
                            experiencias especiales.</h2>

                        <p>
                            Velas artesanales pensadas para acompañar momentos de bienestar,
                            calma y conexión con el hogar.
                        </p>

                        <button>Descubrir Colección</button>
                    </div>

                    <div class="hero-image">
                        <img src="/img/vela-home.png" alt="Vela artesanal ARYA">
                    </div>
                </section>

                <section class="categorias">

                    <h2>Categorías</h2>

                    <div class="categorias-grid">

                        <article class="categoria-card">
                            <img src="/img/vela-cocolima.png" class="img-aromatica" alt="Velas aromáticas">
                            <h3>Aromáticas</h3>
                        </article>

                        <article class="categoria-card">
                            <img src="/img/velas-escultoricas.jpeg" class="img-escultorica" alt="Velas escultóricas">
                            <h3>Velas Escultóricas</h3>
                        </article>

                        <article class="categoria-card">
                            <img src="/img/giftbox.jpg" alt="Gift Box">
                            <h3>Gift Box</h3>
                        </article>

                        <article class="categoria-card">
                            <img src="/img/edicion-limitada.png" class="img-edicion-limitada" alt="Edición Limitada">
                            <h3>Edición Limitada</h3>
                        </article>

                    </div>

                </section>

                <section class="destacados">

                    <h2>Productos Destacados</h2>

                    <div class="productos-grid">



                        <% products.forEach(product=> { %>

                            <article class="producto-card">

                                <img src="/img/<%= product.image %>" alt="<%= product.name %>">

                                <h3>
                                    <%= product.name %>
                                </h3>

                                <p>$<%= product.price %>
                                </p>

                                <a href="/products/<%= product.id %>">
                                    <button>Ver producto</button>
                                </a>

                            </article>

                            <% }) %>

                    </div>

                    </div>

                </section>

                <section class="beneficios">

                    <h2>¿Por qué elegir ARYA?</h2>

                    <div class="beneficios-grid">

                        <div class="beneficio">
                            <p>Cera de soja 100% natural</p>
                        </div>

                        <div class="beneficio">
                            <p>Envases reutilizables</p>
                        </div>

                        <div class="beneficio">
                            <p>Elaboración artesanal</p>
                        </div>

                        <div class="beneficio">
                            <p>Aromas intensos y mayor duración</p>
                        </div>

                        <div class="beneficio">
                            <p>Diseñadas para regalar y disfrutar</p>
                        </div>

                    </div>

                </section>

                <section class="historia">

                    <div class="historia-img">
                        <img src="/img/vela-historia.png" alt="Historia ARYA">
                    </div>

                    <div class="historia-text">
                        <h2>Nuestra Historia</h2>

                        <p>
                            ARYA nació del deseo de transformar pequeños momentos cotidianos
                            en experiencias especiales.<br>
                            Cada vela es elaborada artesanalmente con cera de soja natural,
                            cuidando cada detalle para crear ambientes cálidos y memorables.
                        </p>

                        <button>Conocé más</button>

                    </div>

                </section>

            </main>

            <%- include('partials/footer') %>

                <script>

                    const icon = document.getElementById('search-icon');
                    const form = document.getElementById('search-form');

                    icon.addEventListener('click', () => {

                        if (form.style.display === 'block') {
                            form.style.display = 'none';
                        } else {
                            form.style.display = 'block';
                        }

                    });

                </script>

    </body>

</html>