<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

            <main>

                <section class="login">

                    <h2>Editar Producto</h2>

                    <form action="/products/<%= product.id %>/edit" method="POST" enctype="multipart/form-data">

                        <label for="name">Nombre del producto</label>
                        <input type="text" id="name" name="name" value="<%= old.name ? old.name : product.name %>">

                        <% if (errors.name) { %>
                            <p style="color:red;">
                                <%= errors.name.msg %>
                            </p>
                            <% } %>

                                <label for="description">Descripción</label>
                                <textarea id="description" name="description"
                                    rows="4"><%= old.description ? old.description : product.description %></textarea>

                                <% if (errors.description) { %>
                                    <p style="color:red;">
                                        <%= errors.description.msg %>
                                    </p>
                                    <% } %>

                                        <label for="image">Imagen</label>
                                        <input type="file" id="image" name="image">
                                        <% if (errors.image) { %>
                                            <p style="color:red;">
                                                <%= errors.image.msg %>
                                            </p>
                                            <% } %>

                                                <label for="aroma">Aroma</label>
                                                <input type="text" id="aroma" name="aroma"
                                                    value="<%= old.aroma ? old.aroma : product.aroma %>">

                                                <label for="price">Precio</label>
                                                <input type="text" id="price" name="price"
                                                    value="<%= old.price ? old.price : product.price %>">

                                                <button type="submit">Guardar cambios</button>

                    </form>
                </section>
            </main>

            <%- include('../partials/footer') %>

                <script src="/js/productValidation.js"></script>

    </body>

</html>